.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    flex: 50%;
}
.product__heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}